<p>
  <mat-toolbar>
    <span>TV Fav</span>
  </mat-toolbar>
</p>
<div  fxLayoutAlign="center">
<h1>Search</h1>
</div>
<div fxLayoutAlign="center">
<form  method="post"  #formularioMascota="ngForm" (ngSubmit)="buscar()">

<mat-form-field class="example-full-width">
      <input type="email"  aria-describedby="search-text" 
    [(ngModel)]="searchText" matInput placeholder="Busque una Película"   name="first"
    autofocus/>
</mat-form-field>

<button mat-raised-button color="primary" type="submit">Guardar</button>
  
  <p [hidden]="searchText == ''">Estas buscando "{{searchText}}"</p>
 
</form>
</div>

<div class="content">
  <div fxLayout="row wrap" fxLayoutGap="16px grid">
    <div fxFlex="15%" fxFlex.xs="100%" fxFlex.sm="33%"  *ngFor="let item of series">
  <mat-card class="mat-elevation-z4" >
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{item.show.name}}</mat-card-title>
   </mat-card-header>
    <div *ngIf="item.show.image === null">
      <img mat-card-image  src="https://via.placeholder.com/210x295/ffffff/666666/?text=TV" >
    </div>
    <div *ngIf="item.show.image != null">
      <img mat-card-image  src={{item.show.image.original}} >    </div>
    <mat-card-content>
          
      <div [innerHtml]="item.show.summary" >
      </div>
    </mat-card-content>
    <mat-card-actions>
      <div *ngIf="item.show.officialSite != null" >
        <a mat-button  href={{item.show.officialSite}} target='_blank'>Ver</a>
      </div>
    </mat-card-actions>
  </mat-card>
</div>
</div>
 
</div>
